body{
	margin: 0px;
}

.container {
	width: 100vw;
	height: 100vh;
 	background: #6C7A89;
 	display: flex;
 	flex-direction: row;
 	justify-content: center;
 	align-items: center;
}

.caixaLogin {
	width: 300px;
	height: 150px;
	background: #fff;
}


/*Tabelas Primefaces*/
.semBorda tr, .semBorda td {
	border: none !important;
}

.posPainelPrimefaces {
	margin-top: 30px;
}